* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navContainer {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  margin-bottom: 4rem;
}

.navbar .navContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #fff;
}

.navbar-text {
  font-size: 1.5rem;
  color: #16ce5f;
}


